@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse.woff2') format('woff2'),
        url('../fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* My CSS */
.container{
  display:flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

.side{
  width: 30vw;
  height: 100vh;
  background-image: url("../img/leo-chane-t1s7r4-l4Kk-unsplash.jpg");/*Photo by Leo Chane on Unsplash*/
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

.header{
  position: absolute;
  top: 20%;;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(0 0 0 / 0.5);
  color: rgb(255 255 255);
  width: 100%;
  font-family: "Norse";
  font-size: 2rem;
  padding: 0.5rem;
}

img{
  height: 15vh;
}

.main{
  margin-left: 30vw;
  margin-top: 10vh;
}

.par{
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 2.5rem;
}

#par-2{
  padding-bottom: 1.2rem;
}

#par-3{
  padding-bottom: 3rem;
}

section{
  box-shadow: 0rem 0.2rem 0.5rem rgb(175, 175, 175);
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.info-sec{
  display: flex;
  flex-direction: row;
}

.col-1, .col-2{
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  margin-right: 1rem;
}

.info, h2{
  padding-left: 2.5rem;
}

.info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 1rem;
}

button{
  margin: 2.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #1991E3;
  border-color: #1991E3;
  color: #fff;
}

span{
  padding-left: 2.5rem;
}

